annotated-types==0.7.0
anyio==4.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
diff-match-patch==20230430
distro==1.9.0
editdistance==0.8.1
exceptiongroup==1.3.0
filelock==3.16.1
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.24
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.4
idna==3.10
jiter==0.9.1
joblib==1.4.2
Levenshtein==0.25.1
nltk==3.8.1
numpy==1.23.5
openai==1.88.0
packaging==25.0
pandas==2.0.3
psutil==7.0.0
pydantic==2.10.6
pydantic-core==2.27.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
rapidfuzz==3.9.7
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.3.0
scipy==1.10.1
sentencepiece==0.2.0
setuptools==75.3.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
threadpoolctl==3.5.0
tokenizers==0.13.3
torch==1.12.1
tqdm==4.64.0
transformers==4.33.3
tree-sitter==0.20.1
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
wheel==0.34.2
